footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #393D3F;
    width: 100%;
    height: 75px;
}

.footer {
    display: flex;
    max-width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}