.logo {
    background-color: #546a7b;
    height: 80px;
    font-family: 'Comfortaa', cursive;
    color: #E0DDCF;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    display: flex;
    flex-flow: row;
}
a, :visited {
    color: white;
    text-decoration: none;
}
.tagline{
    font-family: sans-serif;
    justify-content: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-flow: row;
}
